.hero-container{
    background-color: whitesmoke;
}
.header-text{
    text-align: center;
    font-size: 2.5rem;
}

.header-text h2{
    margin: 0;
}
.header-text p{
    margin: 0;
    font-size: 1.3rem;
}
.header-text #connect{
    color: rgb(99, 99, 243);
}
.header-text #platform{
    font-weight: 500;
}